.block {
    margin: 20px 0 0 0;

    @media (min-width: $desktop-width) {
        margin: 30px 0 0 0;
    }
}

.scroll-table {
    width: 370px;
    overflow: scroll;

    @media (min-width: $desktop-width) {
        width: 100%;
        overflow: visible;
    }
}

.desc-button {
    display: block;
    width: 368px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    border-radius: 25px;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;

    @media (min-width: $desktop-width) {
        width: 800px;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
        outline: none;
    }
}

.text {
    margin: 25px 0 10px 0;
    text-indent: 10px;
    text-align: justify;

    @media (min-width: $desktop-width) {
        margin: 30px 0 15px 0;
        text-indent: 20px;
    }
}

.img-headline {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    
    @media (min-width: $desktop-width) {
        margin: 0 0 20px 0;
    }
}

.bmw-img {
    display: block;
    width: 370px;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
        width: 700px;
    }
}

.hidden-table {
    margin: 25px auto;
    
    @media (min-width: $desktop-width) {
        width: 100%;
    }
    
    td {
        text-align: center;
        padding: 0;
        font-size: 16px;
        border: 1px solid black;
        
        @media (min-width: $desktop-width) {
            font-size: 18px;
        }
    }

    .no-border {
        border: none;
    }
}

.center {
    margin: 0 auto;
}

.blue {
    color: blue;
}

.red {
    color: red;
}
