*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 373px;
    color: black;
    font-size: 20px;
    background-color: white;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;

    @media (min-width: $desktop-width) {
        font-size: 20px;
    }
}

footer {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 3px solid black;

    .contacts-list {
        margin: 0 auto 20px auto;
    }

    .time {
        margin: 0 auto;
        width: 200px;
        text-align: center;
    }
}

.none {
    display: none;
}

.list {
    list-style: none;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 5px auto 0 auto;
    font-size: 15px;

    .number {
        text-decoration: none;
        color: black;
        font-size: 23px;
        font-weight: 500;
        padding: 2px 0 0 0;
        margin: 0 20px 0 0;
        transition: 0.2s ease;

        &:hover {
            opacity: 0.7;
        }

        &:focus,
        &:active {
            opacity: 1;
            font-weight: bold;
            outline: none;
            margin: 0 0 0 -3px;
        }
    }
}

.contacts-list {
    width: 85px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    span {
        display: none;
    }

    .contact-link {
        display: block;
        width: 35px;
        height: 35px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: 0.2s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    .Telegram {
        background-size: 30px 30px;
        background-position: 50% 50%;
        background-image: url("../img/telegram.svg");

        &:active,
        &:focus {
            border-radius: 50%;
            outline: 2px solid #0088cc;
        }
    }

    .WhatsApp {
        background-image: url("../img/whatsapp.svg");

        &:active,
        &:focus {
            border-radius: 50%;
            outline: 2px solid #25d366;
        }
    }
}
